* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
}
header,
footer,
#return{
  background: #C8B88A;
}
.container{
  margin: 5rem auto;
}
header .container,
footer .container{
  margin: 0 auto;
}
figure {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: #000;
  transition: 1s;
}
a:hover {
  color: #264E49;
}
.btn{
  text-transform: uppercase;
}
.btn-outline-warning{
  color: #C8B88A;
  border-color: #C8B88A;
}
.btn-outline-warning:hover{
  background-color: #C8B88A;
  border-color: #C8B88A;
}
.btn-success{
  background-color: #264E49;
}
.btn-outline-success{
  color: #264E49;
  border-color: #264E49;
}
.btn-outline-success:hover{
  background-color: #264E49;
  border-color: #264E49;
}
/* paragraph */
h1,
h2 {
  color: #264E49;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
h1 {
  color: #C8B88A;
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
p{
  margin: 0;
}
.menu-title{
  color: #C8B88A;
  padding: .2rem .5rem;
  background-color: rgba(38, 78, 73, .8);
}
.logo {
  width: 80px;
}
/* navbar */
.collapse .nav-link {
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.5s;
}
.collapse .nav-item .nav-link:hover,
.collapse .nav-item .active {
  color: #264E49;
}
.user i {
  font-size: 1.5rem;
}
/* Carousel */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  position: relative;
  background: #264E49;
}
.carousel-img {
  object-fit: cover;
  height: 500px;
  position: absolute;
  bottom: 0;
}
.carousel-item {
  height: 500px;
}
/* menu */
#menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 20px;
}
.menu-card{
  position: relative;
}
.menu-title{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  margin: 0;
}
/* shop */
.shop-img {
  width: 200px;
  object-fit: cover;
}
.shop-title{
  color: #264E49;
  font-weight: 500;
  font-size: 1.5rem;
}
.product-img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
#shop .nav-item .active {
  background: #C8B88A;
}
.product-card{
  border: none;
}
.product-card img{
  padding: 1rem;
  border-radius: 10%;
}
.product-title{
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
/* return */
#return .container{
  padding: 5rem 0;
}
/* feedbacks */
#feedbacks img {
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}
.fb-see-more{
  margin: 2rem 0;
}
/* contact */
.contact-us{
  text-align: center;
}
.contact-icon{
  font-size: 2rem;
}
/* boder */
.line{
  height: 10px;
  width: 25%;
  margin: 3rem auto;
  border-bottom: 5px dotted #264E49;
}
